html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(/img/110700-dark-blue-blurred-background-vector.jpg);
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

button {
  background-color: #095f70;
}
